.mot-selectionne {
    margin: 1rem 0 2rem 0;
    font-size: 2rem;
}

input {
    width: 100%;
    background-color: #312f35;
    color: #c0c0c0;
    padding: .5rem;
    font-size: 2rem;
}
